@respect-color-scheme: false;

@rgb-brand: @rgb-black;
@rgb-input-border: var(--gray-900);

@container__padding: @2-5 @2;
@container__media-sm__max-width: 100%;
@container__media-md__max-width: 100%;
@container__media-lg__max-width: 100%;
@container__media-xl__max-width: 85%;
@container__media-xxl__max-width: @xl;

// Typography
@h1__margin-bottom: @8;

// Forms
@input__border-width: 2px;
@input__border-radius: @1;
@input__shadow: none;
@input__focus__background: @gray-100;
@checkbox__border-radius: @1;

@button__shadow: none;
@button__border-radius: @input__border-radius;
@button__focus__background: @gray-100;
@button__focus__color: @gray-800;

// Dropdown
@dropdown__border: false;
@dropdown__border-radius: @1;
@dropdown__shadow: @shadow-lg-around;
@dropdown-item__border-radius: @1;

// Messages
@message__border-width: 0;
@message__border-radius: @1;
@success__color: @green-800;
@success__background: @green-200;
@info__color: @blue-600;
@info__background: @blue-100;
@danger__color: @red-600;
@danger__background: @red-100;

// Breadcrumbs
@breadcrumbs__min-height: @16;

// Navigation
@rgb-navigation: red(#002d57), green(#002d57), blue(#002d57);
@navigation-top-level__font-weight: 600;

// Minisearch
@minisearch__media-desktop: ~"@{media-sm} and @{media-lg-down}, @{media-xl}";
@minisearch__media-mobile: ~"@{media-sm-down}, @{media-lg} and @{media-xl-down}";
@minisearch__media-inline: ~"@{media-lg} and @{media-xl-down}";
@minisearch__top: ~"calc(100% + 2px)";
@minisearch-input__background-rgb: @rgb-gray-100;
@minisearch-input__border-color-rgb: @minisearch-input__background-rgb;
@minisearch__padding: @2 @1;

// Product page
@product-image__filter: ~"contrast(94%)";
@product-image__border-radius: @1;
@product-wrapper__gap: @12;

@product-box-tocart__margin: false;
@product-box-tocart__padding: @5 0;
@product-box-tocart__border: 2px solid @muted__background;;
@product-box-tocart__border-width: 2px 0;

@product-options-wrapper__padding: @5 0 @2;
@product-options-wrapper__border: 2px solid @muted__background;
@product-options-wrapper__border-width: 2px 0 0;

@bz-gallery-thumb__margin: @4 0 0;
@bz-gallery-thumb-item__margin: 0 @4 @4 0;

// Tabs
@tab-toggler__padding: @5 0;
@tab-toggler__font-size: @6;
@tab-toggler__font-weight: bold;
@tab-toggler__color: @zinc-400;
@tab-toggler__hover__color: @gray-600;
@tab-toggler__hover__background: false;
@tab-toggler__active__color: @gray-800;
@tab-counter__display: none;

@tab-content__padding: @1 0;

@tab__horizontal__justify-content: center;
@tab__horizontal__margin: @4 0;
@tab-toggler__horizontal__margin: 0 @8 0 0;
@tab-toggler__horizontal__border: 2px solid transparent;
@tab-toggler__horizontal__border-width: 0 0 2px;
@tab-toggler__horizontal-active__border-color: @tab-toggler__hover__color;
@tab-content__horizontal__margin: -2px 0 0;
@tab-content__horizontal__padding: @10 0;
@tab-content__horizontal__border: 2px solid @muted__background;
@tab-content__horizontal__border-width: 2px 0 0;

// Swatches
@swatch-options__margin-top: @2-5;
@swatch-options__margin-bottom: @4;
@swatch__size: @7;
@swatch__gap: @3;
@swatch__border-radius: 999px;
@swatch__border-offset: -4px;

// Reviews
@rating__color: @gray-800;
@review-action__color: @gray-900;
