@respect-color-scheme: false;

@rgb-brand: @rgb-black;
@rgb-input-border: var(--gray-900);

@container__padding: @2-5 @2;
@container__media-xxl__max-width: @xl;

@input__border-width: 2px;
@input__border-radius: @1;
@input__shadow: none;
@input__focus__background: @gray-100;
@checkbox__border-radius: @1;

@button__shadow: none;
@button__border-radius: @input__border-radius;
@button__focus__background: @gray-100;
@button__focus__color: @gray-800;

@dropdown__border: false;
@dropdown__border-radius: @1;
@dropdown__shadow: @shadow-lg-around;
@dropdown-item__border-radius: @1;

@breadcrumbs__min-height: @16;
