@respect-color-scheme: false;

@rgb-brand: @rgb-black;
@rgb-input-border: var(--gray-900);

@container__padding: @2-5 @2;
@container__media-sm__max-width: 100%;
@container__media-md__max-width: 100%;
@container__media-lg__max-width: 100%;
@container__media-xl__max-width: 85%;
@container__media-xxl__max-width: @xl;

@h1__margin-bottom: @8;

@input__border-width: 2px;
@input__border-radius: @1;
@input__shadow: none;
@input__focus__background: @gray-100;
@checkbox__border-radius: @1;

@button__shadow: none;
@button__border-radius: @input__border-radius;
@button__focus__background: @gray-100;
@button__focus__color: @gray-800;

@dropdown__border: false;
@dropdown__border-radius: @1;
@dropdown__shadow: @shadow-lg-around;
@dropdown-item__border-radius: @1;

@message__border-width: 0;
@message__border-radius: @1;
@success__color: @green-800;
@success__background: @green-200;
@info__color: @blue-600;
@info__background: @blue-100;
@danger__color: @red-600;
@danger__background: @red-100;

@breadcrumbs__min-height: @16;

@rgb-navigation: red(#002d57), green(#002d57), blue(#002d57);
@navigation-top-level__font-weight: 600;

@minisearch__media-desktop: ~"@{media-sm} and @{media-lg-down}, @{media-xl}";
@minisearch__media-mobile: ~"@{media-sm-down}, @{media-lg} and @{media-xl-down}";
@minisearch__media-inline: ~"@{media-lg} and @{media-xl-down}";
@minisearch__top: ~"calc(100% + 2px)";
@minisearch-input__background-rgb: @rgb-gray-100;
@minisearch-input__border-color-rgb: @minisearch-input__background-rgb;
@minisearch__padding: @2 @1;
