& when (@critical) {
    .bg-wave-top,
    .bg-wave-bottom {
        position: relative;
        > * {
            z-index: 1;
        }
    }
    .color {
        &-brand-secondary { color: var(--color-brand-secondary) !important; }
    }
}
& when not (@critical) {
    .bg-wave-top::before,
    .bg-wave-bottom::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        z-index: 2;
        height: 66px;
    }
    .bg-wave-top::before {
        mask: url(../images/wave-white-top.svg) no-repeat 50% 0;
        background: var(--page-bg, var(--body-bg));
        top: -2px;
    }
    .bg-wave-bottom::after {
        mask: url(../images/wave-white.svg) no-repeat 50% 100%;
        background: var(--page-bg, var(--body-bg));
        bottom: -2px;
    }
}
