& when (@critical) {
    .page-footer {
        &:has(.footer-middle) {
            padding-top: 60px;
        }
        &:has(.footer-top) {
            padding-top: 150px;
        }
        .block.newsletter {
            .title {
                padding-top: @4;
            }
        }
    }
    .footer-top,
    .footer-middle {
        position: relative;
        &::after {
            z-index: -1;
            content: '';
            position: absolute;
            inset: 0;
            top: -75px;
        }
    }
    .footer-top::after {
        top: -150px;
    }
    .footer-middle {
        z-index: 1;
    }
    .footer.content {
        padding: 0;
        margin-top: 5px;
        .switcher {
            margin: 0;
        }
    }
}

& when not (@critical) {
    .footer-top::after {
        background: var(--footer-top-bg);
        .lib-css(background-origin, @footer-top__background-origin);
        .lib-css(mask, @footer-top__mask);
    }
    .footer-middle {
        & when (@footer-middle__dark) {
            --link-color: var(--base-color);
        }
        &::after {
            background: var(--footer-middle-bg);
            .lib-css(background-origin, @footer-middle__background-origin);
            .lib-css(mask, @footer-middle__mask);
        }
    }
}
